/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 a {
	text-decoration: none;
	color: black;
}

header {
	background-color: #4479BA;
	color: white;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav {
  height: 25px;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-left: 30px;
  z-index: 100;
}

nav ul {
  float: right;
  padding-right: 30px;
  margin: 0;
  padding-left: 0;
}

nav li {
  float: left;
  text-align: center;
}




footer {
/*	position: absolute;
	bottom: 0px;*/
	background-color: #4479BA;
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}